.btn {
    transition: background-color 0.3s;
}

.dropdown-menu {

    &:not([datepicker-popup-wrap]) {
        width: 100%;
    }

    &[datepicker-popup-wrap] {

        &:focus, &:active {
            border-color: rgba(0,0,0,.15);
            outline: none;
        }

        > li, div, table {

            &:focus, &:active {
                border: none;
                outline: none;
            }

        }


        th {

            button {
                border: none;
            }

        }

        td {

            button {
                padding: 5px 7px;
                border-width: 2px;
                border-color: transparent;
                border-radius: 0;

                &:focus, &:active {
                    outline: none;
                    border-color: transparent;
                }

                &[disabled] {
                    background: $c-gray-1;
                }

                &:not([disabled]) {
                    background: $c-blue-6;

                    &:hover {
                        color: $c-white;
                        background: $c-blue-4;
                    }

                }

                &.active {
                    padding: 2px;
                    color: $c-black-3;
                    border: none;
                    box-shadow: none;

                    > span {
                        display: block;
                        padding: 3px 5px;
                        border: 2px solid $c-blue-5;
                        border-radius: 50%;
                    }

                    &:hover {
                        color: $c-black-3;
                        background-color: $c-blue-6;
                    }

                }

            }

        }

    }

}

.sidebar {
    flex-shrink: 0;
    overflow: auto;
    box-shadow: 0 5px 5px $c-gray-2;

    &.col-sm-2 {
        width: 300px;

        @media #{$mobile}{
            width: auto;
        }

    }

    .underline-block {
        margin-bottom: 18px;
        padding-bottom: 12px;
        border-bottom: solid 1px $c-black;
    }

    .btn-group {

        &:not(.dropdown) {
            margin: 20px 0;
        }

    }

}

.schedule-container {
    display: flex;
    flex-direction: column;

    &[class*="col-"] {
        width: calc(100% - 300px);

        @media #{$mobile}{
            width: auto;
        }

    }

    header {
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        align-items: flex-start;

        h1 {
            padding-right: 20px;

            @media #{$tablet}{
                font-size: 30px;
            }

            @media #{$mobile}{
                font-size: 24px;
            }

        }

        .btn-group {
            flex-shrink: 0;
            padding-top: 20px;
        }

    }

}

.scroller {
    position: relative;
    max-height: 500px;
}

.schedule {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background: $c-white;

    &.empty-schedule {
        background: transparent;
    }

    @media #{$mobile}{
        height: auto;
    }

    .schedule-scroller,
    .schedule-scroller-head {
        position: relative;
        white-space: nowrap;
    }

    .schedule-scroller-head {
        flex-shrink: 0;
        overflow: hidden;
        touch-action: none;
        -ms-overflow-style: none;
    }

    .schedule-scroller {
        max-height: 100%;
    }

    .empty-message {
        margin: auto;
        text-align: center;
        color: $c-gray-4;
    }

}

.specialists-wrap,
.specialists-wrap-head {
    display: table;
    table-layout: fixed;
    border-spacing: 6px 0;
}

.specialist {
    display: table-cell;
    min-width: 160px;
    max-width: 160px;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: $c-gray-3;

    .cell {
        height: 30px;
        padding: 0 6px;
        background: $c-gray-1;
        border-bottom: dashed 1px $c-black;
        transition: background 0.3s;

        &:not(.cell-is-bad):not(.cell-is-study):not(.cell-is-patients) {

            &:hover {
                background: $c-blue;
            }

        }

        &.cell-is-bad, &.cell-is-study:not(.cell-is-patients) {
            height: 60px;
            background: $c-gray-4;
        }

        &.cell-is-bad {

            + .cell-is-bad {
                display: none;
            }

        }

        &.cell-is-study:not(.cell-is-patients) {

            + .cell-is-study:not(.cell-is-patients) {
                display: none;
            }

        }

        .cell-time {
            margin-right: 6px;
        }

        .cell-patients {
            @include inline-block-top;
            width: 100%;
            height: 29px;
            background: $c-yellow;

            .cell-patient {
                @include inline-block-top;
                height: 29px;
                padding: 0 6px;
                border-left: solid 1px $c-black;
            }
        }
    }

    .specialist-date,
    .specialist-name,
    .specialist-specialty,
    .specialist-place,
    .specialist-time {
        padding: 6px;
        text-align: center;
    }

    .specialist-date {
        text-transform: capitalize;
        color: $c-white;
        background: $c-black-2;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        font-weight: 600;
    }

    .specialist-name,
    .specialist-specialty {
        color: $c-white;
        background: $c-gray-4;
    }

    .specialist-name, .specialist-time {
        white-space: normal;
    }

    .specialist-specialty {
        font-style: italic;
        border-top: solid 1px $c-white;
    }

    .specialist-place {
        background: $c-blue;
    }

    .specialist-time {
        white-space: normal;
        background: $c-green;

        .full {
            width: 100%;
            display: inline-block;
        }

        .short {
            position: relative;
            display: none;
            width: 100%;
            height: 48px;
            padding: 0 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 48px;

            &:before {
                content: "";
                position: absolute;
                left: 10px;
                top: 50%;
                width: 0;
                height: 0;
                margin-top: -5px;
                border-left: 5px solid $c-black;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-right: none;
            }

        }

        &.exp {
            .full {
                display: none;
            }

            .short {
                @include inline-block-top;
            }
        }
    }

}

@-moz-document url-prefix() {

    .schedule {
        height: calc(100vh - 120px);
    }

    .schedule-container {

        header {

            h1 {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

        }

    }

}