html, body, ui-view {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

html, body {
    background-color: $c-gray-1;
}

body {

    &:before {
        //Avoiding using !important to override bootstrap styles for body
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        background-color: $c-gray-1;
    }

}

ui-view {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-height: 100%;

    @media #{$mobile}{
        display: block;
    }

}

.app-container {
    display: flex;
    width: 100%;
    height: 100%;

    &.container-fluid{
        padding-right: 0;

        @media #{$mobile}{
            padding-right: 15px;
        }

    }

    &:before, &:after {
        display: none;
    }

    @media #{$mobile}{
        display: block;
        height: auto;
    }

    > div {
        float: none;
    }

}

.navbar {

    &.navbar-custom {
        border-radius: 0;
        margin-bottom: 0;
    }

}

@-moz-document url-prefix() {

    .app-container {
        height: calc(100vh - 50px);
    }

}