.schedule-cell-menu-modal {

    .modal-header, .modal-footer {
        border: none;
    }

    .modal-header {
        @include inline-block-top;
        font-size: 18px;
        text-align: center;

        .patient {
            @include  inline-block-top;
            width: 100%;
        }
    }

    .glyphicon-icon-size-lg {
        vertical-align: middle;
        font-size: 30px;
    }

    .btn-default:first-child, .btn-default:last-child {
        border: none;
    }

    .btn-default {
        width: 100%;
        text-align: left;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }

    .btn{

        &:not([disabled]){

            .glyphicon-pencil {
                color: $c-blue;

                +span{
                    color: $c-blue;
                }

            }

            .glyphicon-trash{
                color: $c-red;

                +span {
                    color: $c-red;
                }

            }

        }

    }

}

.schedule-cell-add-record-modal {

    .modal-dialog {
        width: 180px;
        border:none;
    }

    .modal-content {
        border: 2px solid $c-green-2;
        box-shadow:none;
    }

    .modal-header {
        padding: 5px;
        font-size: 16px;
        text-align: center;
        background-color: $c-green-2;
        border: none;
        border-radius: 6px 6px 0 0;
    }

    .modal-body {
        padding: 30px 10px;
        text-align: center;
        background-color: $c-green-3;
        border: none;
        border-radius: 0 0 6px 6px;

        .glyphicon-ok-sign {
            font-size: 55px;
            color: $c-green-2;
        }

    }

}

.schedule-cell-del-record-modal {

   .modal-header {
       text-align: center;
       padding: 10px;
       font-size: 16px;
       font-weight: bold;
       color: $c-blue-2;
       border: none;

       .glyphicon-exclamation-sign{
           margin-right: 5px;
           vertical-align: middle;
           font-size: 40px;
           color: $c-red;
       }

   }

    .modal-body {
        text-align: center;
        font-size: 14px;
        color: $c-blue-2;
        border: none;

        > div {
            margin-bottom: 10px;
        }

        .btn {
            margin-bottom: 10px;
            background: $c-red;
            color: $c-white;
        }

        a {
            text-decoration: underline;
            cursor: pointer;
        }

    }

}

.schedule-cell-view-record-modal {

    .modal-header {
        font-size: 16px;
        color: $c-blue-3;

        .glyphicon-user {
            margin-right: 20px;
            vertical-align: middle;
            font-size: 30px;
        }

    }

    .modal-body {
        font-size: 14px;
        color: $c-blue-3;

        > div {
            display: flex;
            width: 100%;
            margin-bottom: 10px;
        }

        .label {
            width: 110px;
            font-size: 14px;
            text-align: left;
            color: $c-blue-3;
            border-radius: 0;
        }

    }

    .close {
        color: $c-blue-3;
    }

}