$c-white: #fff;
$c-black: #000;
$c-black-2: #353535;
$c-black-3: #333;
$c-gray-1: #e0e0e0;
$c-gray-2: #888888;
$c-gray-3: #d4e0e2;
$c-gray-4: #949494;
$c-gray-5: #eeeeee;
$c-blue: #8ec8d6;
$c-blue-2: #337ab7;
$c-blue-3: #002248;
$c-blue-4: #408f9c;
$c-blue-5: #308491;
$c-blue-6: #b3e3ef;
$c-green: #a4c589;
$c-green-2: #699e42;
$c-green-3: #e1ebd9;
$c-yellow: #eba740;
$c-red: #df5f5f;

$desktop-medium: '(min-width: 992px) and (max-width: 1200px)';
$tablet: '(min-width: 768px) and (max-width: 991px)';
$mobile: '(max-width: 767px)';
