<nav class="navbar navbar-inverse navbar-custom">
    <div class="container"></div>
</nav>

<div class="container-fluid app-container">
    <div class="col-sm-2 sidebar">
        <patients-box></patients-box>
        <date-appointment></date-appointment>
        <specialists-box></specialists-box>
    </div>

    <div class="col-sm-10 schedule-container">


            <header>
                <h1>Расписание специалистов</h1>

                <div class="btn-group">
                    <label class="btn btn-success" ng-model="viewPeriodModel" btn-radio="'1d'">1 день</label>
                    <label class="btn btn-success" ng-model="viewPeriodModel" btn-radio="'2d'">2 дня</label>
                    <label class="btn btn-success" ng-model="viewPeriodModel" btn-radio="'1w'">Неделя</label>
                </div>
            </header>

            <schedule></schedule>

        </div>
</div>
