<div class="row underline-block">
    <div class="col-xs-12">
        <div class="h4">
            <span>ДАТА ЗАПИСИ</span>
        </div>
        <div class="">
            <div class="input-group"
                 tooltip="Выберите доступный ресурс"
                 tooltip-enable="disabled">
                <input type="text" class="form-control"
                       ng-disabled="disabled"
                       ng-model="currentDate"
                       placeholder="ДД.ММ.ГГГГ"
                       datepicker-popup="{{dtFormat}}"
                       datepicker-options="dateOptions"
                       min-date="today"
                       is-open="datePopup.opened"
                       show-button-bar="false"
                       close-on-date-selection="true"
                       current-text="Сегодня" clear-text="Отмена" close-text="OK"/>
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-disabled="disabled"
                        ng-click="toggle()"><i
                        class="glyphicon glyphicon-calendar"></i><i
                        class="caret"></i></button>
            </span>
            </div>
        </div>
    </div>
</div>