<div class="row underline-block">
    <div class="col-xs-12">

        <div class="h4 clearfix">
            <div class="pull-left">
                <span class="h4">ПАЦИЕНТ</span>
            </div>
            <div class="pull-right btn-group" dropdown is-open="patientsMenuIsOpen">
                <button id="patients-menu-button" type="button" class="btn btn-xs btn-success" dropdown-toggle
                        ng-disabled="!selectedPatient">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" dropdown-menu role="menu"
                    aria-labelledby="patients-menu-button">
                    <li role="menuitem"><a ng-click="selectedPatient = undefined">Завершить работу с пациентом</a></li>
                </ul>
            </div>
        </div>

        <div class="text-info h5" ng-if="selectedPatient">
            <div>{{selectedPatient.name}},</div>
            <div>{{selectedPatient.dateOfBirth}} г.р.</div>
            <div>Полис ОМС: {{selectedPatient.OMS}}</div>
        </div>

        <div class="" ng-if="patients && !selectedPatient">
            <div class="input-group">
                <input class="form-control" type="text"
                       placeholder="Введите текст для поиска"
                       ng-model="selectedPatient"
                       typeahead="patient as patient.name for patient in patients | filter: startsWith($viewValue, patient) | limitTo: 5"
                       typeahead-on-select="selected($item, $model, $label)"
                       typeahead-min-length="3"
                       typeahead-template-url="patientsCustomTemplate.html"
                       typeahead-no-results="noResults">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            </div>
            <div ng-show="noResults">Совпадений не найдено</div>
        </div>

        <script type="text/ng-template" id="patientsCustomTemplate.html">
            <a>
                <div>Полис:&nbsp;{{match.model.OMS}},</div>
                <div>{{match.model.name}}</div>
            </a>
        </script>

    </div>
</div>
